/* src/styles/theme.scss */
@use '@angular/material' as mat;

// Include base Angular Material core styles
@include mat.core();

// Define the palettes
$primary: mat.define-palette(mat.$purple);
$accent: mat.define-palette(mat.$deep-purple, A200, A100, A400);
$warn: mat.define-palette(mat.$red);

// Create the theme
$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));

// Apply the theme
@include mat.all-component-themes($theme);
